In [9]:
import pandas as pd

from io import StringIO
Data = '{"Employee_Name": "John", "Email:": "john121@gmail.com", "Job Profile:": [{"Title 1:": "Team Lead", "Title 2:": "Sr. Developer"}]}'
df = pd.read_json(StringIO(Data))

In [10]:
df

,Employee_Name,Email:,Job Profile:
0,John,john121@gmail.com,"{'Title 1:': 'Team Lead', 'Title 2:': 'Sr. Dev..."

In [11]:
df.to_json()

'{"Employee_Name":{"0":"John"},"Email:":{"0":"john121@gmail.com"},"Job Profile:":{"0":{"Title 1:":"Team Lead","Title 2:":"Sr. Developer"}}}'

In [12]:
df.to_json(orient='index')

'{"0":{"Employee_Name":"John","Email:":"john121@gmail.com","Job Profile:":{"Title 1:":"Team Lead","Title 2:":"Sr. Developer"}}}'

In [13]:
df.to_json(orient='records')

'[{"Employee_Name":"John","Email:":"john121@gmail.com","Job Profile:":{"Title 1:":"Team Lead","Title 2:":"Sr. Developer"}}]'